.upper, .lower {
  background-repeat: no-repeat;
  background-size: contain;
}
.upper {
  background-image: url("./res/BGupper.png");
  background-position-y: bottom;
}
.lower {
  background-image: url("./res/BGlower.png");
  background-position-y: top;
  padding-top: 8rem;
}

.footerDark {
  background-color: #343434;
  color: white;
}

@media (max-width: 576px) {
  .upper, .lower {
    background-size: 250%;
    background-position-x: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .upper, .lower {
    background-size: 150%;
    background-position-x: center;
  }
}